<p id="notice"><%= notice %></p>

<p>
  <h1><%= @cat.name %></h1>
</p>

<p>
  <strong>Color:</strong>
  <%= @cat.color %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @cat.sex %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @cat.birth_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<%= button_to "Rent me!", new_cat_rental_request_url(cat_id: @cat.id), method: :post %>

<p>
  <strong>Rental Requests:</strong>
  <table>
	  <tr>
		  <th>Requester</th>
		  <th>Start Date</th>
		  <th></th>
		  <th>End Date</th>
	  </tr>
  	<% @cat.cat_rental_requests.order(:start_date).each do 													|request| %>
		<tr>
			<td><strong><%= request.renter.username %></stong></td>
			<td><%= request.start_date %></td>
			<td>  . . .  </td>
			<td><%= request.end_date %></td>
		</tr>
	<% end %>
</p>
</table>
<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>

<br>

<img src="http://placekitten.com/g/600/400"></img>