<!DOCTYPE html>
<html>
<head>
  <title>Ninety-Nine Cats | Only the Cutest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<% if current_user %>
		<div class="account-area">
			<h1 id="username"><%= current_user.username %></h1> 
			<div id="logout-button"><%= button_to "Log out", 			sessions_url, method: :delete %></div>
		</div>	
	<% else %>
		<h1>Welcome!</h1>
	<% end %>
	
<%= flash[:notices] %>

<%= yield %>

</body>
</html>
